 html,body,#app,#app>.el-row,#app>.el-row>.el-container{
 	height:100%;
 }
 .allContLeft,.allContRight{
 	min-height: 100%; 
 	background-color: rgb(50, 64, 87);
 	overflow: auto;
 	color:#bfcbd9;
 } 
.allContRight{
 	background-color: #fff;
 }
 .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  
.el-aside,.el-aside .el-menu,.el-aside>.el-menu.el-menu-item-group{
	background-color: rgb(50, 64, 87);
	color:#bfcbd9!important;
}
.el-submenu__title {
	color:#bfcbd9!important;
}

.routerLink{
	display:inline-block;
	width:100%;
	height:60px;
	line-height: 60px;
	color:#bfcbd9;
	font-size:14px;
	text-indent: 40px;
}
.routerLink:hover{
	background-color:rgba(220, 220,220,0.2)
}  
.el-header{
	background-color: #EFF2F7;
    height: 60px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
}
.logoutDrop{
	display: inline-block;
	width: 60px;
	height: 60px;
	line-height:60px;
	font-size:14px;
}
.logo{
	/*background-image: url(../images/logo2.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;*/
	height: 60px;
	
}