 html,
 body,
 #app,
 #app>.el-row,
 #app>.el-row>.el-container {
 	height: 100%;
 }
 
 .allContLeft,
 .allContRight {
 	min-height: 100%;
 	background-color: rgb(50, 64, 87);
 	overflow: auto;
 	color: #bfcbd9;
 }
 .allContLeft .el-menu{
 	border: 0;
 }
 .allContRight {
 	background-color: #fff;
 }
 
 .grid-content {
 	border-radius: 4px;
 	min-height: 36px;
 }
 
 .el-aside,
 .el-aside .el-menu,
 .el-aside>.el-menu.el-menu-item-group {
 	background-color: rgb(50, 64, 87);
 }
 
 .routerLink {
 	display: inline-block;
 	width: 100%;
 	height: 60px;
 	line-height: 60px;
 	color: #bfcbd9;
 	font-size: 16px;
 	text-indent: 20px;
 	color: #ddd;
 }
 
 .routerLink:hover {
 	background-color: rgba(220, 220, 220, 0.2)
 }
 
 .router-link-active {
 	background-color: rgba(220, 220, 220, 0.2)
 }
 
 .routerLink i{
	margin-right: 10px;
 }
 
 #router_active{
 	color: #ffd04b;
 }
 
 .el-header {
 	display: block;
 	background-color: #EFF2F7;
 	overflow: hidden;
 	z-index: 999;
 	width: 83.333333334%;
 	height: 60px;
 	/*display: flex;
 	justify-content: flex-end;
 	align-items: center;*/
 	text-align: right; 
 	font-size: 12px;
 	padding-right: 40px;
 	position:fixed;
 }
 
 .logoutDrop {
 	display: inline-block;
 	min-width: 60px;
 	height: 60px;
 	line-height: 60px;
 	font-size: 14px;
 }
 .logoutDrop::before{
 	content: "用户名：";
 }
 
 .logo {
 	background-image: url(../images/logo21.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
 	height: 60px;
 }
 
 .contentTitle{
 	font-size: 20px;
 	margin-bottom: 20px;
 	color: #666;
 }
 .rightBottomCont{
 	margin-top: 60px;
 	overflow: hidden;
 }
 .TimFadeOutLeft{
 	display: none;
 }
.jl_browseSum::after{
	content: "  人";
}
.jl_joinMoney::before{
	content: "$  ";
}

/*上传轮播图*/
.sliderImgContent,.sliderImgCol{
	text-align: center;
	color: #000000;
}
.sliderImgCol{
	margin-bottom: 10px;
}
.imgCont{
	width: 400px;
	height: 200px;
	display: inline-block;
}
.marTop{
	margin-top:40px;
}
.remarkText{
	margin-left: 6px;
	font-size: 14px;
	color: #303133;
}
.remarkText::before{
	content: "备注：";
	color: #000;
	font-size: 16px;
}

/*产品分类  */
.addClassify{
	margin-bottom:20px;
}

/*接龙管理*/
.contHeaderSearch>.el-input{
	width: 14%;
}
.jielongBack_img{
	width: 120px;
	height: 120px;
	margin-right: 12px;
}
.jl_title{
	vertical-align: top;
}
.addrTime{
	margin-right: 12px;
}
.addrTime::after{
	content: "  ; ";
}
/*用户管理*/
.um_elPagination{
	margin: 20px 20px 0 0;
}

/*帮助中心*/
.hc_elcol{
	font-size: 16px;
	color: #333;
	padding-bottom: 10px;
}
.hc_title{
	font-size: 18px;
	color: #000;
}
.hc_nauInput{
	margin-bottom: 10px;
}
