html,body{
	height:100%;
	margin:0;
	padding:0;
	color:#73879C;
}
body {
	color: #73879C;
	display:flex;
	align-items:center;
	background-image:url(../images/login_backg5.jpg);
	background-size:100% 100%;
	background-repeat:no-repeat ;
}

.error{
  color:red;	
	
}
.login_content{
	text-decoration: none;
	width:400px;
	height:400px;
	/*border:1px solid #D8D8D8;  */
	margin:0 auto;
	padding-top:60px;
	/*background-color:rgba(0,0,0,0.4);*/
	background-color:rgb(255,255,255);
	border-radius: 6px;
	
}
.form-control{
	width:250px;
	height:30px;
/*	background:#fff!important;*/	
	text-indent: 10px;
	box-shadow: 0 0 0px 1000px white inset !important;  
	-webkit-box-shadow: 0 0 0px 1000px white inset !important;  
	border: 1px solid #D8D8D8 !important;
}

.submintLogin{
	width:250px;
	height:30px;
	color: #fff;
    background-color: #20a0ff;
    border-color: #20a0ff;
    margin-bottom: 10px;
}

.separator{
/* 	border-top: 1px solid #D8D8D8; */
	margin-top: 10px;
	padding-top: 10px;
}
.ktcConsult{
	padding-top: 150px;
}

.form-group,.tc{
	text-align:center;
}
.tc{
	height:60px;
}
.error{
	padding-top:2px;
}
.text_align{
	text-align:center;
}
.common_color{
	color:#73879C;
}

		
	