<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

	<head>
		<meta charset="UTF-8">
		<title>首页</title>
		<link rel="stylesheet" th:href="@{/css/common.css}" />
		<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
		<link rel="stylesheet" th:href="@{/css/element-ui/index.css}">

		<link rel="stylesheet" th:href="@{/css/home.css}" />

	</head>

	<body>
		<div id="app" class="fillcontain">
			<el-row>
				<el-container>
					<el-col :span="4" class="allContLeft">
						<el-aside width="100%" height="100%">
							<div class="logo"></div>
  							<a v-for="(value,key,index) in routerLinkArray" class="routerLink"  :href="value.link">{{value.name}}</a>
						</el-aside>
					</el-col>
					<el-col :span="20" class="allContRight">
						<el-container>
							<el-header style="text-align: right; font-size: 12px">
								<el-dropdown>
									<i><span sec:authentication="name" class="logoutDrop"></span></i>
									<el-dropdown-menu slot="dropdown">
										<el-dropdown-item>
											<a th:href="@{/logout}">退出</a>
										</el-dropdown-item>
									</el-dropdown-menu>
								</el-dropdown>
							</el-header>
							<el-main>
								<router-view></router-view>
							</el-main>
						</el-container>
				</el-container>
				</el-col> 
			</el-row>
		</div>

		<template id="myTemplate">
			<h1 class="contentTitle">欢迎来到团购小程序管理界面！</h1>
		</template>

<!-- 上传轮播图片start -->
		<template id="slider">
			<div >
				<div>
					<h1 class="contentTitle">轮播图管理</h1>
					
					<el-row v-loading="judeLoading" element-loading-text="图片上传中。。。"
    element-loading-spinner="el-icon-loading"
    element-loading-background="rgba(255,255,255, 0)">
						<el-col :span="12" v-for="(value,index) in dataArr" v-bind:key="index">
							<div class="sliderImgContent">
								<el-col :span="24" class="sliderImgCol">
									<img class="imgCont" :src="value.carouseladdress" />
								</el-col>
								<el-col :span="24" class="sliderImgCol"> 
									<el-button type="primary" @click="addRemark(index)">添加备注</el-button>
									<span>{{value.remark}}</span>
								</el-col>
								<el-col :span="24" class="sliderImgCol">
									<el-button type="success" @click="startSlider(index)">启动</el-button>
									<el-button type="warning" @click="stopSlider(index)">暂停</el-button>
									<el-button type="danger"  @click="deteleSlider(index)">删除</el-button>
								</el-col>
								<div>								
								</div>		
							</div>
						</el-col >
						
						<el-col :span="12" class="sliderImgContent marTop">
	<!-- 						action="/uploadCarousel"
		action="https://jsonplaceholder.typicode.com/posts/" 
						name="carousel" -->					
						<el-upload 
						action="/uploadCarousel"
						list-type="picture-card" 
						:show-file-list="false"
						:on-progress="handleProgress"
						:on-success="handleSuccess"
						:on-error="handleError"
						name="carousel"
						>
						<i class="el-icon-plus"></i>
						</el-upload>

						<el-col>
					</el-row>
				</div>
		<!--父类添加商品-->
		<el-dialog title="添加备注" :visible.sync="dialogRemarkVisible">
		<el-input v-model="newRemark" placeholder="请输入备注"></el-input>
		  <div slot="footer" class="dialog-footer">
		    <el-button @click="dialogRemarkVisible = false;newRemark = ''">取 消</el-button>
		    <el-button type="primary" @click="closeAddReMark">确 定</el-button>
		  </div>
		</el-dialog>
				<div>
		</template>
		<!-- 上传轮播图片end -->

<!-- 商品分类挂历start -->
<template id="classify">
	<div>
		<el-row>
			<el-col :span="12">
				<h1 class="contentTitle">商品分类管理</h1>
			</el-col>
			<el-col :span="12">
				<el-button type="success" class="addClassify fr" @click="addClassify"><i class="el-icon-plus"></i>添加</el-button>
			</el-col>
		</el-row>

		<template>
			<el-table :data="tableData" border stripe style="width: 100%">
				<el-table-column prop="className" label="名称" align="center" ></el-table-column>
				<el-table-column prop="id" label="操作" align="center">
					<template slot-scope="scope">
						<el-button size="mini" type="primary" @click="watchNextClassify(scope)">查看子分类</el-button>
						<el-button size="mini" type="warning" @click="addClassify(scope)">修改</el-button>
						<el-button size="mini" type="danger" @click="handleDelete(scope)">删除</el-button>
					</template>
				</el-table-column>
			</el-table>
		</template>
				
		<!--父类添加商品-->
		<el-dialog title="添加/修改商品" :visible.sync="dialogFormVisible">
		<el-input v-model="newAndEdit.newClassify" placeholder="请输入商品名称"></el-input>
		  <div slot="footer" class="dialog-footer">
		    <el-button @click="dialogFormVisible = false">取 消</el-button>
		    <el-button type="primary" @click="closeAddClassify">确 定</el-button>
		  </div>
		</el-dialog>
		
		<!--查看子类-->
		<el-dialog  :visible.sync="dialogTableVisible">
			<el-row>
			<el-col :span="12">
				<h1 class="contentTitle">{{sonTableTitle}}</h1>
			</el-col>
			<el-col :span="12">
				<el-button type="success" class="addClassify fr" @click="addClassify('','true')"><i class="el-icon-plus"></i>添加</el-button>
			</el-col>
			</el-row>
			<el-table :data="sonTableData" border stripe style="width: 100%">
				<el-table-column prop="className" label="名称" align="center" ></el-table-column>
				<el-table-column prop="id" label="操作" align="center">
					<template slot-scope="scope">
						<el-button size="mini" type="warning" @click="addClassify(scope,'true')">修改</el-button>
						<el-button size="mini" type="danger" @click="handleDelete(scope)">删除</el-button>
					</template>
				</el-table-column>
			</el-table>
		</el-dialog>

		</div>
		</template>

	</body>
	<!-- import Vue before Element -->
	<script th:src="@{/js/lib/vue/vue.js}"></script>
	<script th:src="@{/js/lib/vue/vue-router.js}"></script>
	<!-- import JavaScript -->
	<script th:src="@{/js/lib/element-ui/element-ui.js}"></script>
	<script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>	
	<script th:src="@{/js/component/slider.js}"></script>
	<script th:src="@{/js/component/classify.js}"></script>	
	<script th:src="@{/js/index.js}"></script>

</html>