<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<meta charset="UTF-8">
<title>欢迎登录</title>
<link rel="stylesheet" th:href="@{/css/login.css}" />
</head>
<body>
  <p th:if="${loginError}"  class="error">Wrong user or password</p>
  <!--action='/login' Spring Security规定值，不可更改 -->
  <form name="loginForm" th:action="@{/login}" method="POST">   
            <table>
                <tr>
                    <td>用户名：</td>
                    <td><input type="text" name="username"/></td>
                </tr>
                <tr>
                    <td>密码：</td>
                    <td><input type="password" name="password"></td>
                </tr>
                <tr>
                  <td> <input id="remember_me" name="remember_me" type="checkbox"/></td>
                  <td> <label for="remember_me">Remember me</label></td>
                </tr>
                <tr style="text-align: center;" >
                    <td colspan="2">
                        <input type="submit" value="登录"/>
                    </td>
                </tr>
            </table>
        </form>
    
</body>
</html>