<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jielong.core.dao.CarouselMapper">
  <resultMap id="BaseResultMap" type="com.jielong.core.domain.Carousel">
    <id column="Id" jdbcType="INTEGER" property="id" />
    <result column="carouselAddress" jdbcType="VARCHAR" property="carouseladdress" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createtime" />
    <result column="updateTime" jdbcType="TIMESTAMP" property="updatetime" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Base_Column_List">
    Id, carouselAddress, type, createTime, updateTime, remark
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from carousel
    where Id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from carousel
    where Id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jielong.core.domain.Carousel">
    insert into carousel (Id, carouselAddress, type, 
      createTime, updateTime, remark
      )
    values (#{id,jdbcType=INTEGER}, #{carouseladdress,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, 
      #{createtime,jdbcType=TIMESTAMP}, #{updatetime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jielong.core.domain.Carousel">
    insert into carousel
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        Id,
      </if>
      <if test="carouseladdress != null">
        carouselAddress,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createtime != null">
        createTime,
      </if>
      <if test="updatetime != null">
        updateTime,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="carouseladdress != null">
        #{carouseladdress,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jielong.core.domain.Carousel">
    update carousel
    <set>
      <if test="carouseladdress != null">
        carouselAddress = #{carouseladdress,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null">
        createTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updatetime != null">
        updateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jielong.core.domain.Carousel">
    update carousel
    set carouselAddress = #{carouseladdress,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      createTime = #{createtime,jdbcType=TIMESTAMP},
      updateTime = #{updatetime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryCarousels" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from carousel order by createTime
  </select>
  
  <select id="queryStartCarousels" resultMap="BaseResultMap">
  select
  <include refid = "Base_Column_List"/>
  from carousel
  where type = "0"
  </select>
  
  <update id="forbiddenCarouselByKey" parameterType="java.lang.Integer">
  update carousel
  set type = "1"
  where Id = #{id,jdbcType=INTEGER}
  </update>
  <update id="startCarouselByKey" parameterType="java.lang.Integer">
  update carousel
  set type = "0"
  where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>